* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-image: url("../img/circus-background-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding-top: 0%;
  width: 1260px;
  height: 643px;
  border: 3px solid pink;
}

.container {
  width: 100%;
  height: 100%;
  /*margin: 6% 14%;*/
  border: 3px solid green;
  display: flex;
  flex-direction: column;
}

.header {
  border: 3px solid yellow;
  /*margin: auto 0;*/
  height: 30%;
  text-align: center;
}

.header .header-text {
  font-size: 500%;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  margin: 0;
  color: #900508;
  background: linear-gradient(45deg, rgba(254,242,0,1) 0%, rgba(255,255,255,1) 100%);
  box-shadow: 10px 10px 29px -2px rgba(0,0,0,0.75);
  border-radius: 30px;
  border: 2px solid #900508;
  /*height: 50px;*/
  display: inline-block;
  position: relative;
}

.main-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  border: 3px solid white;
}

.main-box .left {
  flex: 1;
  border: 3px solid blue;
}

.main-box main {
  flex: 3;
  border: 3px solid black;
  cursor: crosshair;
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #02227F 30%, #1C1C52 100%);
}

.main-box .right {
  flex: 1;
  border: 3px solid red;
  display: flex;
  flex-direction: column;
}

.main-box #status-bar {
  flex: 1;
  border: 3px solid violet;
}

.main-box #monkey-image {
  flex: 3;
  border: 3px solid white;
}

.hide-me {
  display: none;
}

.back {
  height: 10%;
}

.moving-row {
  display: flex;
  height: 12%;
}

.shooting-row {
  background-color: white;
  flex: 1;
}

.floor {
  height: 9%;
}

.deck {
  background-image: url("../img/woods.png");
  background-repeat: repeat;
  background-size: contain;
  height: 20%;
}

#status-bar {
  border: 3px solid yellow;
  /*margin: auto 0;*/
  height: 90%;
  padding-top: 15%;
  text-align: center;
  margin; auto 0;
}

#status-bar #status-bar-text {
  font-size: 150%;
  font-weight: bold;
  padding-top: 6%;
  height: 60%;
  width: 80%;
  margin: 0;
  color: #0fb200;
  background: #d5ffd1;
  box-shadow: 10px 10px 29px -2px rgba(0,0,0,0.75);
  border-radius: 10px;
  border: 2px solid black;
  /*height: 50px;*/
  display: inline-block;
  position: relative;
  text-align: center;
}

#monkey-image {
  padding: 5%;
}

#monkey {
  width: 100%;
  height: 80%;
  display: inline-block;
  margin: auto 0;
  padding: 0% 30%;
  background-image: url("../img/wood-chair.png");
  background-repeat: repeat;
  background-size: contain;;
  border-radius: 20px;
}

.shooting-row-img {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}
