* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-image: url("../img/circus-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding-top: 6%;
  width: 1260px;
  height: 643px;
  border: 3px solid pink;
}

.container {
  width: 100%;
  height: 100%;
  /*margin: 6% 14%;*/
  border: 3px solid green;
  display: flex;
  flex-direction: column;
}

.header {
  border: 3px solid yellow;
  height: 20%;
}

.main-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  border: 3px solid white;
}

.main-box .left {
  flex: 1;
  border: 3px solid blue;
}

.main-box main {
  flex: 3;
  border: 3px solid black;
}

.main-box .right {
  flex: 1;
  border: 3px solid red;
}
