* {
  box-sizing: border-box;
}

body {
  background-color: #ffe780;
  max-width: 1260px;
  max-height: 630px;
  border: 3px solid pink;
}

body header {
  width: 1260px;
  height: 276px;
  border: 3px solid blue;
  text-align: center;
}

header .header-image {
  background-image: url("../img/content-background-middle.jpg");
  background-repeat: no-repeat;
  background-size: 1152px 276px;
  background-origin: content-box;
  background-position: center;
  display: inline-block;
  /*margin: auto 0;*/
  width: 1152px;
  height: 276px;
  box-shadow: 0 0 20px 8px #ffe780 inset;
}

.container {
  max-width: 1000px;
  max-height: 630px;
  margin: 6% 14%;
  border: 3px solid green;
  display: flex;
  flex-direction: column;
}
